<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VideoManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="VideoManager.Properties.Settings.QuantumConnectionString"
            connectionString="Data Source=RIXWEBSERVER;Initial Catalog=Quantum;Persist Security Info=True;User ID=quantum;Password=sixflavors"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <VideoManager.Properties.Settings>
            <setting name="FileType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DirectoryPrevious" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="FileExt" serializeAs="String">
                <value>vob,pdf,dvr-ms,avi,wmv,mpeg,gvi,gvp,mpg</value>
            </setting>
        </VideoManager.Properties.Settings>
    </userSettings>
</configuration>